@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

header {
  height: 250px;
  background-color: lightslategray;
}

body {
  background: #f0f0f0;
}

.bgvideo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bgvideo img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 1;
}

h1 {
  font-size: 7vw;
  font-family: 'Raleway', sans-serif;
  z-index: 2;
  color: #fff;
}

aside {
  width: 15%;
  background-color: #fff;
  border-radius: 0 0px 10px 10px;
  float: left;
  display: flex;
  flex-direction: column;
}

a {
  color: #010101;
  font-family: 'Roboto', sans-serif;
  margin: 5px;
  text-decoration: none;
}

a:hover {
  color: lightblue;
}

main {
  width: 70%;
  background-color: #f0f0f0;
  float: left;
}

h3 {
  float: left;
  margin: 18px;
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
  margin: 0 10px;

}


.section {
  margin: 10px;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.descriptions {
  display: flex;
  flex-direction: row;
  align-items: center;
}



.image img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  margin: 10px;
}

nav {
  width: 15%;
  background-color: #fff;
  float: left;
  border-radius: 0 0px 10px 10px;
  display: flex;
  flex-direction: column;
}

footer {
  height: 200px;
  clear: both;
}

h2 {
  text-align: center;
  font-size: 3vw;
  font-family: 'Raleway', sans-serif;
}

@media only screen and (max-width:620px) {

  main,
  aside {
    width: 100%;
  }

  nav {
    width: 100%;
    border-radius: 10px;
  }
}

/*social media*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}



.fa-google {
  background: #dd4b39;
  color: white;
}